@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h1, td, p {
  font-family: Nunito;
  font-weight: 300;
}

h1 {
  text-align: center;
  margin-block-start: 3rem;
}

table {  
  width: 20rem;
  height: 15rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 3rem;
}

td, p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

img {
  width: 96px;
  height: 96px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate {  
  width: max-content;
  background-color: rgba(255,255,255,0.3);
  margin: 0 auto;
  margin-block-start: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.generate:hover {
  
  background-color: rgba(255,255,255,0.5);
}

.button {
  background-image: url(pokeball.svg);
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
  margin-block-start: 1rem;
  cursor: pointer;
  filter: greyscale(100%);
  -webkit-filter: greyscale(100%);
}