@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h1, td, p {
  font-family: Nunito;
  font-weight: 300;
}

h1 {  
  visibility: hidden;
  font-size: 0.9rem;
  margin-block-start: 0;
}

td, p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

img {
  width: 96px;
  height: 96px;
}

.button {  
  width: 12rem;
  background-color: rgba(255,255,255,0.3);
  margin: 0 auto;
  margin-block-start: 3rem;
  padding: 0 1rem;
  border-radius: 1rem;
  cursor: pointer;  
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.button:hover {  
  background-color: rgba(255,255,255,0.5);
}

.generate {
  font-size: 2rem;
  margin-inline-start: 1rem;
}

.pokeball {
  background-image: url(pokeball.svg);
  height: 2rem;
  width: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {  
  width: 80vw;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 3rem;
}

@media (min-width: 500px) {

  h1 {
    visibility: visible;
    font-size: 3rem;
    text-align: center;
    margin-block-start: 3rem;
  }

  td, p {
    font-size: 1.2rem;
  }  
  
  table {
    margin-block-start: 1rem;
    width: 20rem
  }

  .button {
    padding: 0;
  }

  .generate {
    font-size: 1.2rem;
    margin-inline-start: 0.5rem;
  }

}
